<div  class="mdl-grid">
  <%= image_tag "Friends.jpg", :class => "centered" %>
</div>
<div class="text-centered mdl-grid grid-medium-centered">
  <h1 class='pinky full-width text-centered'>~* Greetings Everyone *~</h1>
  <p class='pinky'>Hey guys!!! Welcome to ~* Friends Online *~. We're so sorry that the site hasn't been updated for such a very very very long time! Anywayz, we saw all your comments at the gb and we thought that we should still continue updating the site... well, honestly my sis and i are havin second thoughts.</p>
  <p class='pinky'>Stay tuned... we'll be bringing you more Friends Online soon!</p>
</div>
<div class="mdl-grid grid-medium-centered">
  <div class="soon-card-event mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h4>
        The return of Friends Online<br>
        May 1, 2016<br>
      </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Add to Calendar
      </a>
      <div class="mdl-layout-spacer"></div>
      <i class="material-icons">event</i>
    </div>
  </div>
</div>
